*{
    font-family: 'Lora', serif;
}
.icono{
    background-image: url(../img/icono2.png);
    width: 250px;
    height: 80px;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.navegacion{
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.menu{
    display: block;
    margin-top: 15px;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu ul > li > a{
    text-decoration: none;
    padding: 15px 50px;
    text-align: center;
    color: white;
    margin: 0 10px;
    border-radius: 10px;
}
.menu ul > li > a:hover{
    background-color: rgba(0,0,0,0.5)
}
.t-ciudad{
    text-align: center;
    margin: 85vh auto;
    background-color: rgba(0,0,0,0.5);
    width: 400px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    border-radius: 15px;
}
.cantidades{
    display: flex;
    justify-content: space-around;
    height: 40vh;
}
.centrar{
    display: block;
    text-align: center;
    margin: auto;
    border: solid rgb(28, 232, 247) 5px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidades1{
    display: block;
}
.titulo-cantidades{
    text-align: center;
    margin-top: 80px;
}
.cuadros-mision-vision{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 0 150px;
}
.mision-vision > h1{
    text-align: center;
    margin-top: 150px;
}
.mision-vision-img{
    text-align: center;
}
.vision-img{
    margin: 75px 0;
}
.mision h2, .vision h2{
    text-align: center;
}
.tamaño-valores{
    width:35%;
    height: 70vh;
    margin-top: -120px;
    display: flex;
    justify-items: center;
    align-items: center;
}